
@font-face {
    font-family: 'TT-Lakes-bold';
    src: url('/fonts/TTLakes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT-Lakes-medium';
    src: url('/fonts/TTLakes-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'TT-Lakes-regular';
    src: url('/fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

.container{
    margin: 0 auto;
}

.header{
    display: flex;
    height: 51px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.header__container{
    margin: 19px; 
    margin-right: 16px;
    margin-left: 16px;
}

.header__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

 .header__link-left:nth-child(3){
    display: none;
}

.header__link-right:nth-child(1), .header__link-right:nth-child(2), .header__link-right:nth-child(3){
    display: none;
}

.header__link{
    margin-right: 16px;
}

.header__link:last-child{
    margin-right: 0;
}

.captionForDesktop{
    display: none;
}

.header__textForDesktop{
    display: none;
}

.content{
    background-color: rgba(248, 248, 248, 1);
    padding-bottom: 35px;
    padding-top: 24px;
}

.caption{
    display: flex;
    justify-content: flex-start;
    font-family: 'TT-Lakes-bold', 'Arial', sans-serif;
    color: rgba(27, 28, 33, 1);
    align-items: center;
   
    
}

.caption__container{
    margin-bottom: 24px;
}

.caption__item{
    margin-right: 12px;
}

.caption__item:last-child{
    margin: 0;
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;   
    margin:0;
    padding:0;
}

.nav-container{
    margin-bottom: 24px;
    margin-left: 16px;
}

.menu__link{
    text-decoration: none;
    list-style-type: none;
    font-family: 'TT-Lakes-medium', 'Arial', sans-serif;
    color: rgba(126, 126, 130, 1);
    font-size: 17px;
    white-space: nowrap;
    margin-right: 20px;
    padding:0;
}

.menu__link a{
    text-decoration: none;
    color: rgba(126, 126, 130, 1);
}

.menu__link--focused{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 9px;
    border: 2px solid rgba(184, 255, 236, 1);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
}

.menu__link:last-child{
    margin-right: 0;
}

.main-information__container{
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.main-information__text{
    margin: 0;
    font-family: 'TT-Lakes-regular', 'Arial', sans-serif;
    margin-bottom: 16px;
}

.main-information__textForPad{
    display: none;
}

.main-information__textForDesktop{
    display: none;
}

.main-information__link{
    text-decoration: none;
    font-family: 'TT-Lakes-medium', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    color: rgba(27, 28, 33, 1);
}

.main-information__img{
    margin-right: 8px;
}

.content-picture{
    margin-left: 16px;
}

.img-content{
    width: 320px;
    height: auto;
}

@media screen and (min-width: 768px) {

    .header__link-right:nth-child(1), .header__link-right:nth-child(2), .header__link-right:nth-child(3){
        display: inline;
    }
    
    .content{
        margin-left: 8px;
        margin-right: 8px;
    }

    .menu{
        overflow: hidden;
    }

    .main-information__textForPad{
        display: block;
    }

    .main-information__container{
        width: 312px;
    }

    .containerForPadDesk{
        display: flex;
        justify-content: space-between;
    }

    .img-content{
        margin-left: 48px;
        width: 360px;
    }

    .caption__container{
        margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 1120px) {
    .caption{
        display: none;
    }

    .captionForDesktop{
        display: flex;
        justify-content: flex-start;
        font-family: 'TT-Lakes-bold', 'Arial', sans-serif;
        font-size: 15px;
        color: rgba(27, 28, 33, 1);
        align-items: center;
    }

    .header__link-left:nth-child(2), .header__link-left:nth-child(3), .header__link-left:nth-child(4){
        display: none;
    }

    .header__link-right:nth-child(5), .header__link-right:nth-child(6) {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgba(27, 28, 33, 1);
        font-family: 'TT-Lakes-medium', 'Arial', sans-serif;
        

    }

    .header__link-right:nth-child(1), .header__link-right:nth-child(2), .header__link-right:nth-child(3), .header__link-right:nth-child(4){
        display: none;
    }

    .header__textForDesktop{
        display: block;
        margin-right: 8px;
    }

    .container{
        background-color: rgba(248, 248, 248, 1);
        padding-top: 42px;
    }

    .header{
        background-color: rgba(248, 248, 248, 1);

    }

    .header__container{
        margin: 0;
    }

    .header__link:last-child{
        margin-right: 16px;
    }

    .captionForDesktop__item:first-child{
        margin-right: 34px;
    }

    .content{
        margin-left: 18px;
        margin-right: 18px;
        padding-bottom: 49px;
    }

    .menu{
        flex-wrap: wrap;
    }

    .nav-container{
        margin-bottom: 4px;
    }

    .img-content{
        width: 531px;
    }

    .menu__link{
        margin-bottom: 14px;
    }

    .main-information__textForDesktop{
        display: inline;
    }
    .main-information__container{
        width: 490px;
    }
  } 
